
.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(87px, 9999px, 42px, 0);
  }
  5% {
    clip: rect(1px, 9999px, 37px, 0);
  }
  10% {
    clip: rect(70px, 9999px, 37px, 0);
  }
  15% {
    clip: rect(71px, 9999px, 67px, 0);
  }
  20% {
    clip: rect(71px, 9999px, 86px, 0);
  }
  25% {
    clip: rect(80px, 9999px, 41px, 0);
  }
  30% {
    clip: rect(16px, 9999px, 95px, 0);
  }
  35% {
    clip: rect(43px, 9999px, 40px, 0);
  }
  40% {
    clip: rect(73px, 9999px, 19px, 0);
  }
  45% {
    clip: rect(80px, 9999px, 90px, 0);
  }
  50% {
    clip: rect(6px, 9999px, 1px, 0);
  }
  55% {
    clip: rect(46px, 9999px, 98px, 0);
  }
  60% {
    clip: rect(38px, 9999px, 44px, 0);
  }
  65% {
    clip: rect(45px, 9999px, 31px, 0);
  }
  70% {
    clip: rect(33px, 9999px, 92px, 0);
  }
  75% {
    clip: rect(21px, 9999px, 34px, 0);
  }
  80% {
    clip: rect(37px, 9999px, 87px, 0);
  }
  85% {
    clip: rect(47px, 9999px, 87px, 0);
  }
  90% {
    clip: rect(86px, 9999px, 30px, 0);
  }
  95% {
    clip: rect(82px, 9999px, 88px, 0);
  }
  100% {
    clip: rect(93px, 9999px, 88px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(87px, 9999px, 6px, 0);
  }
  5% {
    clip: rect(79px, 9999px, 52px, 0);
  }
  10% {
    clip: rect(18px, 9999px, 73px, 0);
  }
  15% {
    clip: rect(49px, 9999px, 27px, 0);
  }
  20% {
    clip: rect(33px, 9999px, 87px, 0);
  }
  25% {
    clip: rect(59px, 9999px, 82px, 0);
  }
  30% {
    clip: rect(70px, 9999px, 4px, 0);
  }
  35% {
    clip: rect(40px, 9999px, 76px, 0);
  }
  40% {
    clip: rect(62px, 9999px, 80px, 0);
  }
  45% {
    clip: rect(82px, 9999px, 42px, 0);
  }
  50% {
    clip: rect(59px, 9999px, 42px, 0);
  }
  55% {
    clip: rect(19px, 9999px, 34px, 0);
  }
  60% {
    clip: rect(80px, 9999px, 65px, 0);
  }
  65% {
    clip: rect(39px, 9999px, 15px, 0);
  }
  70% {
    clip: rect(60px, 9999px, 32px, 0);
  }
  75% {
    clip: rect(18px, 9999px, 57px, 0);
  }
  80% {
    clip: rect(50px, 9999px, 85px, 0);
  }
  85% {
    clip: rect(42px, 9999px, 77px, 0);
  }
  90% {
    clip: rect(28px, 9999px, 69px, 0);
  }
  95% {
    clip: rect(72px, 9999px, 22px, 0);
  }
  100% {
    clip: rect(70px, 9999px, 22px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}


@keyframes select {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);    
  }
  20% {
    transform: translate(-50%, -50%)  scale(1.5);
  }
  50% {
/*   transform: translate3d(-180px,0px, 0px)
    filter: blur(10px);
*/  }
  100% {
/*    transform: translate3d(-280px,0px, 0px)
    filter: blur(30px);*/
     transform: translate(-50%, -50%) scale(0);    
    opacity: 0;
  }
}



.digit {
display:inline-block;
font-size:200px;
color:#000;
height:180px;
line-height:1;
}

.time-part-wrapper {
display:inline-block;
margin-right:50px;
position:relative;
}

.time-part-wrapper:not(:last-child):after {
content:":";
display:block;
width:30px;
height:230px;
position:absolute;
top:0;
right:-30px;
color:rgba(0,0,0,0.5);
font-size:200px;
line-height:0.9;
}

.time-part {
width:140px;
text-align:center;
height:180px;
overflow:hidden;
display:inline-block;
margin-left:-5px;
box-sizing:border-box;
}

.time-part .digit-wrapper {
animation-timing-function:cubic-bezier(1,0,1,0);
}


.time-part.seconds.tens .digit-wrapper {
animation-name:seconds-tens;
animation-duration:60s;
animation-iteration-count:60;
}





30% {
transform:translateY(-720px);
}

60% {
transform:translateY(-1260px);
}

70% {
transform:translateY(-1440px);
}

80% {
transform:translateY(-1620px);
}

90% {
transform:translateY(-1800px);
}

body {
background:#FFF;
font-family:Aldrich;
margin:0;
}

/*.wrapper {
width:1000px;
position:relative;
margin:100px auto;
}*/

.wrapper {
    width: 100%;
    position: fixed;
    top: 0;
}

.wrapper:before,.wrapper:after {
content:"";
display:block;
position:absolute;
width:100%;
left:0;
height:20px;
z-index:10;
}

16.66667%,10% {
transform:translateY(-360px);
}

33.33333%,20% {
transform:translateY(-540px);
}

50%,83.33333% {
transform:translateY(-1080px);
}

66.66667%,40% {
transform:translateY(-900px);
}