p {
	position: relative;
	z-index: 1;
	font-family: 'PFOnlineTwoPro-Double';
}

body {
	background: #000;
}

.ip-border {
    border-image: linear-gradient(#fff, #fff) 2% 0% 2% 0%;
    padding-top: 1px;
    padding-bottom: 10px;
    text-align: center;
    display: inline-block;
    font-size: 30pt;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 2px;
}

.ip-border:before {
    content: "";
    position: absolute;
    left: -2px;
    height: 100%;
    border-image: linear-gradient(#fff, #fff) 0% 1% 0% 1%;
    top: -2px;
    border-width: 2px;
    width: 100%;
}
/*.ip-border:after {
	content: "";
	position: absolute;
	right: -1px;
	height: 100%;
	border-right: 2px solid;
	top: 0;
}*/

.ip-button-text {
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 0px;
}

.tv {
    width: 95%;
    height: 95%;
    margin: auto;
    background: linear-gradient( #2c2121, #595b51 );
    border-radius: 24% / 26%;
    color: white;
    text-align: center;
    text-indent: .1em;
}


.tv:before {
    content: '';
    position: absolute;
    top: 20%;
    bottom: 21%;
    right: 0%;
    left: 0%;
    background: inherit;
    opacity: 0.3;
    border-radius: 72% / 9%;
}

#main-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
}
/*
#tv-bdr {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: url("../resources/images/bg2.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    z-index: 10;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}*/